/*VARIAVEL DE COR & FONTE*/
/*VARIAVEL DE COR & FONTE*/
:root {
    --white: #f1f1f1;
    --light-gray: rgb(41, 36, 59);
    --light-light-gray: #3c3352;
    --light-light-light-gray: #dfdbe9;
    --dark-gray: #201b2c;
    --green: #00ff88;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
    /* DELIMITAÇÃO */
    max-width: 1536px;
    margin-inline: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /*outline: solid 2px red;*/
}
body {
    background-color: var(--light-gray);
    display: flex;
    height: 100vh;
}
/* HEADER */
header {
   width: 30vw;
   height: 100vh;
   background-color: var(--dark-gray);
   z-index: 1;  
   color: var(--white);
   display: flex;
   align-items: center;
   position: fixed;
}
.right {
    margin-left: 30vw;
    margin-top: 10vh;
    width: 70vw;
    height: fit-content;
    display: flex; 
    justify-content: center;
}
.container_header {
    padding-block: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.right-image{
    max-height: calc(100vh - 2rem) ;
    max-width: 5;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 15rem;
    gap: 0.25rem;
}
ul a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
li:nth-child(1){
    width: 10rem;
}
h1, h2{
    letter-spacing: 3px;
    text-align: center;
    margin-top: 0.25em;
    margin-bottom: 0.10em;
}
table, th, td {
    background-color: var(--light-light-gray);
    border: 2px solid var(--light-gray);
    border-collapse: collapse;
    text-align: center;
    padding: 1.5rem;
    color: var(--white);
}
form {
    background-color: var(--light-light-gray);
    color: var(--white);
    padding-block: 2em;
    padding-inline: 3em;
    border-radius: 1.5rem;
    text-align: center;
}
label {
    font-weight: 700;
}
input, select {
    background-color: var(--light-light-light-gray);
    border: solid 2px var(--purple);
    border-radius: 0.7em;
    padding: 0.4rem 0.75rem;

    box-shadow: 0px 10px 40px -12px #00ff0052;
    transition: box-shadow 0.3s, background-color 0.3s;
    &:hover {
        background-color: var(--white);
        box-shadow: 5px 10px 20px -10px #00ff55a9;
    }
}
select {
    cursor: pointer;
}
option {
  border: none;
  font-size: inherit;
  color: var(--grayblack);
  border-color:var(--green);
  border-radius: 4rem;
}
.row {
    padding-block: 6px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
button {
    padding-block: 0.9em;
    padding-inline: 0.85em;
    margin: 0.15rem;
    width: 100%;

    background-color: #00d370;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #2b134b;
    
    border-radius: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff0052;
    transition: box-shadow 0.3s, background-color 0.3s;
    &:hover {
        background-color: #00ff88;
        box-shadow: 5px 10px 20px -10px #00ff55a9;
    }
}


  
  

  
  